@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;1,9..144,300&family=Inter&display=swap');

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.intro,
.section-title,
.term {
    font-weight: 200;
    font-family: 'Fraunces', serif;
}

p,
.menu,
.subhead {
    font-family: 'Inter', sans-serif;

}

p,
.menu {
    /* default font size 16pt*/
    font-size: 1rem;
}

/* p:not(:last-child)  {
    margin: 0 0 1.25rem 0;
} */

p {
    margin: 0;
}

.parent {
    display: grid;
    /* grid-template: auto 1fr auto / auto 1fr auto; */
}

.content {
    grid-column: 1 / -1;
    display: grid;
    padding: 0 2rem;
}

.main-content, .cell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.main-content {
    border: 1px solid black;
}

.cell {
    height: fit-content;
}

.cell .cell {
    padding: 0;
}

.title-imgs {
    display: grid;
    grid-template-rows: 1fr auto;
}

.header,
footer {
    grid-column: 1 / -1;
    display: grid;
    place-items: center;
    text-align: center;
}

.main-content.defs {
    row-gap: 1px;
    padding: 0;
}

.main-content.weeklies {
    row-gap: 1px;
    column-gap: 1px;
    padding: 0;
}

/* .main-content.weeklies > * {
    padding: 2rem;
    background-color: white;
} */

.col-half-1 {
    grid-column: 1/7;
}

.col-half-2 {
    grid-column: 7/-1;
}

.col-third-1 {
    grid-column: 1/5;
}


.col-third-2 {
    grid-column: 5/9;
}

.col-third-3 {
    grid-column: 9/-1;
}


.col-third-1-2 {
    grid-column: 1/9;
}

.col-third-2-3 {
    grid-column: 5/-1;
}


.col-full {
    grid-column: 1/-1;
}


.section-title {
    font-size: 3rem;
    grid-column: 1/2;
}

.intro {
    font-size: 5.5vw;
}

.header .intro {
    padding: 10rem 6rem;
}

.definition {
    padding: 2rem;
}

.term {
    font-size: 2rem;
    font-style: italic;
}

/* .definition:not(:last-child) {
    border-bottom: 1px solid black;
} */


footer .footer-container {
    display: inline-block;
    padding: 10rem 0;
}

.child {
    display: flex;
}

.child div {
    flex-grow: 1;
    width: 0;
}


.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2rem 1rem 2rem;
}

.weeklies .section-header {
    padding: 0 0rem 1rem 0rem;
}

.section-description,
.subhead {
    font-size: 1.375rem;
    margin: 0;
}


.iframe-parent {
    grid-column: 1/-1;
    display: block;
    width: 100%;
}

.iframe-container {
    position: relative;
    padding-top: 56.25%;
}

.menu {
    padding: 2rem;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}


.menu ul li {
    display: inline;
    padding: 0.5rem 2rem 0.5625rem 0;
}

.cta {
    display: inline;
    justify-self: end;
    background-color: black;
    color: white;
    padding: 0.5rem 1.125rem 0.5625rem;
    border-radius: 100px;
}

/* .arrow:before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 4.8rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 4.8rem;
    z-index: 1;
} */

.arrow {
    display: inline-block;
    position: relative;
    padding: 0;
    box-sizing: content-box;
    height: 0.5rem;
    width: 1.25rem;
    z-index: 1;
    overflow: visible;
}

.arrow-line {
    background-color: white;
    height: 1px;
    left: 0;
    position: absolute;
    transform-origin: right;
    width: 100%;
}

.img-relative-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-relative-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   


img {
    width: 100%;
    min-height: 1px;
    display: block;
}


.padded-top>* {
    padding-top: 1.5rem;
}

.padded-bottom>*:not(:last-child) {
    padding-bottom: 1.5rem;
}

.caption>*:not(:last-child) {
    padding-bottom: 0.6875rem;
}

.padding-bottom-1 {
    padding-bottom: 0.5rem;
}

.padding-top-4 {
    padding-top: 2rem;
}

.margin-top-lg {
    margin-top: 8rem;
}

a {
    color: inherit;
}



.marquee {
    position: relative;
    overflow: hidden;
    background-color: black;
    padding: 0.75rem 0 0.6875rem 0;
}

.marquee div {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.marquee p {
    display: inline;
    padding: 0 0.75rem;
    color: white;
}

.marquee__inner {
    display: flex;
    flex-shrink: 0;
    will-change: transform;
    animation: marquee 18s linear infinite;
    animation-play-state: running;
}

.light {
    color: white;
}

.dark {
    background-color: black;
}

.custom-dark {
    background-color: #26272A;
}

.custom-light {
    background-color: #EDEDED;
}

.full-height img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.top-img img{
    top: 0;
    left: 0;
    transform: none;
}

.definition.col-full, .cell.col-full {
    position: relative;
}

/* .landing-page .project::after */
.definition.col-full.stroke:not(:last-child)::after, .cell.col-full.stroke:not(:last-child)::after {
    content: " ";
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.definition.col-full.stroke.scrolled::after, .cell.col-full.stroke.scrolled::after {
    width: 100%;
    right: unset;
    left: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee__inner {
        animation: none;
    }
}

/* single col layout */

@media screen and (max-width: 882px) {
    .col-half-1, .col-half-2, .col-third-1, .col-third-1-2, .col-third-2, .col-third-2-3, .col-third-3 {
        grid-column: 1/-1;
    }

    .col-half-1.static, .col-third-2.static, .col-third-1.static, .col-half-2.static, .col-third-3.static {
        grid-column: span 6;
    }

    .hide, .section-description {
        display: none;
    }

    .img-relative-container img {
        position: static;
        transform: none;
        top: unset;
        left: unset;
    }

    .content {
        padding: 0 1rem;
    }

    .section-header {
        padding: 0 1rem 1.5rem 1rem;
    }

    .main-content, .cell, .definition { 
        padding: 1rem;
    }

}